# DRAFT- IBM CPD DV Virtualizing Data - DRAFT

### Where to find this sample online
You can find a copy of this notebook at https://github.com/Db2-DTE-POC/db2dmc.

In [1]:
user = 'DATAENGINEER1'

## General prep steps:
* In CPD under virtualized data: remove STOCK_SYMBOLS and STOCK_TRANSACTIONS
* In PostgreSQL: create table TRADING_PROVIDER
* Start Anaconda and open Jupyter notebook CP4D - Stock Queries

## Demo sections overview:
* Show data source connections
* Show virtualize screen and real time updates from source system PostgreSQL
* Show virtualization
* Show schema folding
* Show how to create a join view
* Show SQL editor and preconfigured scripts
* Show how to deploy the CPD DV service from an external Jupyter notebook

### Show data source connections
* Logon
* Click hamburger menu 
* Click Data virtualization
* Click Menu
* Click Data sources
* Click table icon
* Click 3 dots besides the PostgreSQL data source
* Click popup menu Edit connection
* Click Cancel

### Show virtualization (STOCK_SYMBOLS_VSAM)
* In the data virtualization screen type stock_symbols in search bar
* Click preview on stock_symbols_vsam
* Select stock_symbols_vsam
* Click Add to cart
* Click View cart
* Select project DVDEMO
* Change table name to STOCK_SYMBOLS
* Change schema name to ONPREMZOS
* Click virtualize
* Click view my virtualized data
* Click the 3 dots beside STOCK_SYMBOLS
* Click "View details"

In [2]:
%run db2.ipynb

Db2 Extensions Loaded.

## Connections to Db2

Before any SQL commands can be issued, a connection needs to be made to the Db2 database that you will be using. The connection can be done manually (through the use of the CONNECT command), or automatically when the first `%sql` command is issued.

The Db2 magic command tracks whether or not a connection has occured in the past and saves this information between notebooks and sessions. When you start up a notebook and issue a command, the program will reconnect to the database using your credentials from the last session. In the event that you have not connected before, the system will prompt you for all the information it needs to connect. This information includes:

- Database name (SAMPLE) 
- Hostname - localhost (enter an IP address if you need to connect to a remote server) 
- PORT - 50000 (this is the default but it could be different) 
- Userid - DB2INST1 
- Password - No password is provided so you have to enter a value 
- Maximum Rows - 10 lines of output are displayed when a result set is returned 

There will be default values presented in the panels that you can accept, or enter your own values. All of the information will be stored in the directory that the notebooks are stored on. Once you have entered the information, the system will attempt to connect to the database for you and then you can run all of the SQL scripts. More details on the CONNECT syntax will be found in a section below.

If you have credentials available from Db2 on Cloud or DSX, place the contents of the credentials into a variable and then use the `CONNECT CREDENTIALS <var>` syntax to connect to the database.
```Python
db2blu = { "uid" : "xyz123456", ...}
%sql CONNECT CREDENTIALS db2blu
```

If the connection is successful using the credentials, the variable will be saved to disk so that you can connected from within another notebook using the same syntax.

The next statement will force a CONNECT to occur with the default values. If you have not connected before, it will prompt you for the information.

In [5]:
%sql CONNECT TO BLUDB USER user999 USING t1cz?K9-X1_Y-2Wi HOST services-uscentral.skytap.com PORT 9094

Connection successful.

In [7]:
%sql select TABNAME, OWNER from syscat.tables where TABSCHEMA = 'DVDEMO'

              TABNAME     OWNER
0            ACCOUNTS  USER999
1           CUSTOMERS  USER999
2       STOCK_HISTORY  USER999
3       STOCK_SYMBOLS  USER999
4  STOCK_TRANSACTIONS  USER999

In [8]:
schema = user
%sql -e SET CURRENT SCHEMA {schema}

Command completed.

In [9]:
%sql -e CREATE TABLE DISCOVER (A INT);

Command completed.

In [10]:
%sql -e INSERT INTO DISCOVER VALUES 1,2,3,4,5,6,7,8,9,10

Command completed.

In [11]:
%sql -e SELECT * FROM DISCOVER;

    A
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [ ]:
%sql -e DROP TABLE {schema}.DISCOVER;

### Show schema folding:
* Click Menu 
* Click Virtualize
* Search for "STOCK_TRANSACTIONS"
* Click "Automatically group tables"
* Select top entry of grouped STOCK_TRANSACTIONS
* Click Add to Cart
* Click View cart
* Click the 3 dots
* Click Edit grouped tables
* Deselect all
* Click DVDEMO, 34.202.141.171
* Click DVDEMO, 13.90.246.239
* Click public, 13.90.246.239
* Select project DVDEMO
* Change Schema name to FOLDING
* Click Apply
* Click Virtualize
* Click view my virtualized data
* Click Stock_Transaction -> View Details

### Show how to create a join view:
* Select table STOCK_TRANSACTIONS
* Select table STOCK_SYMBOLS
* Click Join View
* In table STOCK_SYMBOLS: deselect SYMBOL
* In table STOCK_HISTORY: deselct _ID
* Click STOCK_TRANSACTION.SYMBOLS and drag to STOCK_SYMBOLS.SYMBOL
* Click Open in SQL Editor
* Click Back button on top of the screen
* Click JOIN
* Type view name VIEW__STOCK_TRANSACTIONS__STOCK_SYMBOLS
* Type schema name DVDEMO
* Click NEXT
* Select project DVDEMO
* Click CREATE VIEW -> Popup window "Join view created" apears
* Click View my virtualized data
* Click the 3 dots besides object VIEW__STOCK_TRANSACTIONS__STOCK_SYMBOLS
* Click Preview
* Click Manage Access
* Click Grant Access
* Select user ctp
* Click Add
* Click Back button on top of the screen -> take you back to My virtualized data screen

### Show SQL editor and preconfigured scripts:
**Prep steps:**
* Go to SQL Editor and open the following scripts: Ohio customers, 30 day moving average
* Click Ohio Customers to make sure this is preselected

**Steps:**
* Click Menu
* Click SQL Editor
* Click 30 day moving average
* Click Script Library
* Click arrow besides 3% stocks
* Click icon Open a script to edit
* Click Run all -> the query result is displayed

### Show how to deploy the CPD DV service from an external Jupyter notebook
* Open the Connections Info page of the DV service and show the connection information
* Switch to different brower window that shows external Jupyter Notebooks console
* Run through the notebook from top to bottom and show the connect to the DV layer and the execution of the sample queries.

#### Credits: IBM 2019, Peter Kohlmann [kohlmann@ca.ibm.com]